// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;

    color: white;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.411),
      rgba(0, 0, 0, 0.322)
    ),
    url(../img/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .header-content {
        background: rgba(0, 0, 0, 0.603);
        padding: 40px;
        border-radius: 10px;
        max-width: 100%;
        margin-bottom: 90px;

        text-align: center;
        h1 {
            font-size: 300%;
        }

        @media screen and(max-width: 768px){
            h1{
                font-size: 15px;
                margin: 0px, -20px;
            }
        }

        h2{
            font-style: normal !important;
            font-size: 300%;
            font-weight: bold;
            i{
                font-style: normal !important;
                color: $theme-secondary;
            }
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 22px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}